<div class="row">
    <div class="twelve columns">
        <br>
    </div>
</div>
<div class="row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns">
        <h1>ShopEasy Login</h1>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="three columns">
        &nbsp;
    </div>
    <div class="six columns">
        <div class="error" *ngIf="loginErrorMessage !== ''">
            <span class="error-header">There was a problem with your login.</span>
            <br><br>
            <ul>
                <li>{{loginErrorMessage}}</li>
            </ul>
        </div>
    </div>
    <div class="three columns">
        &nbsp;
    </div>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
        <div class="three columns">
            &nbsp;
        </div>
        <div class="six columns">
            <label for="username">Username:</label><br>
            <input class="skeleton u-full-width" type="text" id="username" name="username" [(ngModel)]="username"><br>
        </div>
        <div class="three columns">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            &nbsp;
        </div>
        <div class="six columns">
            <label for="password">Password:</label><br>
            <input class="u-full-width" type="password" id="password" name="password" [(ngModel)]="password"><br>
        </div>
        <div class="three columns">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            &nbsp;
        </div>
        <div class="six columns">
            <div style="text-align: right">
            <button type="submit" value="login" class="skeleton {{loginButtonClasses.join(' ')}}">
                {{loginButtonText}}
            </button> <br>
            </div>
        </div>
        <div class="three columns">
            &nbsp;
        </div>
    </div>
</form>
